<div class="container-fluid" id="rep">
  <div class="row">
    <div class="col-md-6">
<form class="form">
  <img src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/64/social_media_logo_github-512.png" alt="icon" height="100px" width="100px">
    <h3>Search for user repositories here</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter the repository" name="repo" [(ngModel)]="username" title="Please enter the Username" required><br><br>
        <button (click) = "showRepos()">Submit</button>
    </div>
</form>

<hr>
<a class="nav-item nav-link" routerLink="/userprofile" routerLinkActive='active'><button>Get users Instead</button></a>
</div>
<div class="col-md-6">
<div class="cards">
  <div class="card-title">
      <h3>Repositories</h3>
  </div>
  <hr>
  <div class="card" id="repository">
      <div class="card-body" *ngFor = "let repo of repos">
        <ul>
          <li><p appUnderline>{{repo.name}}</p>
            <p>Description : {{repo.description}}</p>
            <a href="{{repo.html_url}}" target="blank"><button>View on Github</button>
          </a></li>
        </ul>
      </div>
  </div>
</div>
</div>
</div>
</div>
